.link {
}
.nodetext {
    pointer-events: none;
    font: 10px sans-serif
}

circle.node {
    cursor: pointer;
}

div.left_box{
    border: 1px solid gray;
    height:130px;
    padding: 5px;
}
div.main_box{
    display:block;
    border: 1px solid gray;
    height: 600px;
}

div.right_box{
    border: 1px solid gray;
    height: 100px;
}
.input_container{
    width: 182px;
}
.input{
    width: 182px;
}

#context_menu{
    background-color: #FFCC99;
    border-radius: 5px;
    height: 120px;
    width: 200px;
    border: 1px solid black;
    padding: 3px;
}