/* Panel stuff */
.panel {
    padding: 5px;
    background-color: rgba(248,248,248,0.7);
    border-radius: 5px;
}
.panel h1 {
	font-size:1em;
	padding: 0;
	margin: 0;
}
.panel h2 {
	font-size:0.8em;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
.panel h3 {
	font-size: 0.7em;
	font-weight: normal;
	padding: 0;
	margin: 0;
}